* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: black;
}
body {
  /* background-color: black; */
  width: 100vw;
  font-family: sans-serif;
}
.upper-part {
  height: 100vh;
  background: var(--bg-color);
  opacity: 100%;
}
.upper-part .upper-part_box {
  background: radial-gradient(
    50% 100% at 50% 0%,
    rgba(44, 66, 156, 0.15) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 80vh;
  opacity: 1;
}
.upper-part_box img {
  color: red;

  width: 120px;
}
.upper-part .upper-part_box nav {
  max-width: 94vw;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: sticky;
  top: 0;
}
.upper-part .upper-part_box nav span button {
  border-radius: 19px;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 9px 17px;
}
.upper-part_box .head-container {
  margin: auto;
  background-image: url("assests/images/bg.jpg");
  background-position: top center;
  background-size: max(1400px, 100vw);
  background-repeat: no-repeat;
  border-radius: 20px;
  mask-image: linear-gradient(180deg, #fff 71.48%, rgba(255, 255, 255, 0.4) 100%);

  
  
  width: 94vw;
  height: 550px;
}
.head-container_text-content {

  width: 94vw;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 19px;
  
}
.head-container_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
  height: 100%;
  

}
.head-container_text h1 {
  width: 600px;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  
}
#p1 {
  font-size: 1.3rem;
  text-align: center;
  line-height: 2;
}
#p2 {
  font-size: 1.1rem;
  line-height: 4;
}
.head-container-getstarted {
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.head-container-getstarted input {
  width: 320px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgb(209, 205, 205);
  outline: none;
  padding-left: 15px;
  font-size: 0.9rem;
  color: white;
  background-color: rgba(128,128,128,0.2)
 
}

.get-started {
  width: 200px;
  height: 50px;
  background-color: rgb(214, 13, 13);
  border-radius: 25px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2;
  cursor: pointer;
  
  
}
i{
  font-weight: 20;
  margin-left: 10px;
  font-size: 20px; 

}
.trending-part{
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 20px;
}
.trending-part h2{
  margin-bottom: 10px;
}

.carousel-container{
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
 

}
.carousel{
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
 
}
.card {
  min-width: 200px;
  height: 300px;
  background: #333;
  border-radius: 10px;
  flex-shrink: 0;
  background-image: url("assests/images/card1-image.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.carousel::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}
.card:hover{
  
  transform: scale(1.04);
}
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
}
.left-btn {
  left: 0;
}
.right-btn {
  right: 0;
}